<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="preload" href="/assets/fonts/Minecraftia-Regular.ttf" as="font" crossorigin="anonymous" />
<link rel="preload" href="/assets/img/tiling_stripes.gif" as="image" />
<link rel="preload" href="/assets/img/arrow_right.png" as="image" />
<link rel="preload" href="/assets/img/arrow_right@2x.png" as="image" />
<link rel="preload" href="/assets/img/backButtonSprite.png" as="image" />
<link rel="preload" href="/assets/img/backButtonSprite@2x.png" as="image" />
<link rel="preload" href="/assets/img/icons-18-white.png" as="image" />
<link rel="preload" href="/assets/img/icons-36-white.png" as="image" />
<link rel="preload" href="/assets/img/iconSprite.png" as="image" />
<link rel="preload" href="/assets/img/tick.png" as="image" />
<link rel="preload" href="/assets/main.css" as="style" />
<link rel="preload" href="/assets/main.min.js" as="script" />
<link href="/assets/lib/jquery/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
<link href="/assets/main.css" rel="stylesheet" />
<script src="/assets/lib/jquery/jquery-1.7.1.min.js"></script>
<script>
$(document).on("mobileinit", function(){
  $.mobile.defaultPageTransition = "slide";
});
</script>
<script src="/assets/lib/jquery/jquery.mobile-1.4.5.min.js"></script>
<title>Hypixel.app</title>
<script src="/assets/lib/threejs/three.min.js"></script>
<link rel="manifest" href="manifest.json" />