<div data-role="page" id="Home">
    <%-include("../ui/header", {name: "Home"}) %>
    <div class="ui-content" data-role="content">
        <p>Welcome to Hypixel.app</p>
        <ul data-role="listview" data-inset="true">
            <li><a href="#lookup">Look up player stats</a></li>
            <li><a href="#stats:server">View server stats</a></li>
        </ul>
        <ul data-role="listview" data-inset="true">
            <li><a href="#settings">Settings</a></li> 
            <li><a href="#credits">Credits</a></li>
        </ul>
    </div>
</div>