<div data-role="page" id="lookup">
    <%-include("../ui/header", {name: "Hypixel Stats", back: "#Home"}) %>
    <div class="ui-content" data-role="content">
        <form id="lookUp">
            <div class="ui-field-contain" data-role="fieldcontain">
                <p>Playername or UUID:</p>
                <input class="Input.lookUp.UUID" type="text" autocomplete="new-password" autocorrect="off" placeholder="Playername or UUID..." />
                <button class="Button.lookUp.submit fixmargin" type="submit" name="submit" value="submit-value" data-action-looking="false"></button>
                <p><small>Note: You must have set your API key in settings before you can look up player stats</small></p>
            </div>
        </form>
    </div>
</div>