<noscript>
    <div id="error" style="width:100vw;height:100vh;">
        <div>
            <h2>Please enable JavaScript.</h2>
            <ol>
                <li><span>Tap the "Settings" icon.</span></li>
                <li><span>Select "Safari".</span></li>
                <li><span>Slide the JavaScript setting to "On".</span></li>
            </ol>
        </div>
        <div hidden="">
            <h2>Device not supported.</h2>
            <p>Your current device: "<a></a>" does not support <b>jQuery 1.7.1.</b></p>
        </div>
    </div>
</noscript>