<div data-role="page" id="settings">
    <%-include("../ui/header", {name: "Settings", back: "#"}) %>
    <div class="ui-content" data-role="content">
        <div data-role="fieldcontain">
            <label>API Key:</label>
            <input class="Input.Settings.apiKey" type="text" autocorrect="off" />
            <p><small>Note: You can find your API key by logging into the Hypixel server and typing "/api"</small></p>
        </div>
    </div>
</div>