<div data-role="page" id="stats:player:achievements">
    <%-include("../ui/header", {name: "Profile", back: "#stats:player"}) %>
    <div class="ui-content" data-role="content">
        <block>
            <div data-role="collapsibleset" data-theme="a" data-content-theme="a"></div>
        </block>
    </div>
</div>