<div data-role="page" id="stats:player:view">
    <%-include("../ui/header", {name: "Profile", back: "#stats:player"}) %>
    <div class="ui-content" data-role="content">
        <div class="mcskin"></div>
    </div>
</div>