<div data-role="page" id="stats:server">
    <%-include("../ui/header", {name: "Hypixel Stats", back: "#Home"}) %>
    <div class="ui-content" data-role="content">
        <block>
            <div class="ui-field">
                <p>Online players</p>
                <p><small class="Field.Server.currentPlayers"></small></p>
            </div>
        </block>
    </div>
</div>