<div data-role="footer" data-position="fixed" data-id="foo1" data-defaults="true">
	<div data-role="navbar">
		<ul>
			<li><a href="#Home" id="Home" data-icon="custom" class="ui-btn-active">Home</a></li>
			<li><a href="#checkStats" id="checkStats" data-icon="custom">Check Stats</a></li>
			<li><a href="#" id="tabC" data-icon="custom">Three</a></li>
		</ul>
	</div>
</div>