<div data-role="header" data-position="fixed" data-theme="a">
    <% if (typeof back !== "undefined") {%> <a href="<%=back%>" data-rel="back" data-theme="a">Back</a><% } %>
    <h1><%=name%></h1>
</div>