<div data-role="header" data-position="fixed" data-theme="a">
    <% if (typeof back !== "undefined") {%> <a class="revert-btn ui-btn-up-a" href="<%=back%>" data-rel="back" data-theme="a"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span></span></a><% } %>
    <h1><%=name%></h1>
</div>