<div data-role="popup" class="ui-shadow" data-transition="fade" data-overlay-theme="b" data-position-to="window" id="globalPop">
    <div class="top"></div>
    <div class="title"><span></span></div>
    <div class="text"><span></span></div>
    <div class="buttons">
        <button class="btn-b" hidden="">Cancel</button>
        <button class="btn-a">OK</button>
    </div>
</div>